.contents {
  .transition-time(1s);
  width: 230px;
  height: calc(~'100% - 64px');
  top: (@navigation-padding * 2) + @icon-size;
  position: fixed;
}

body.toc-hide {
  .contents {
    margin-left: -230px;
    .transition-time(1s);
  }

  #wrapper {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

#wrapper {
  width: calc(~'100% - 230px') !important;
  margin-left: 230px !important;
}
@media all and (max-width:(@device-width-large + 230)) {
  #wrapper {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
// margin around outside when it's tight
@media all and (max-width:(@device-width-large + 230)) and (min-width:(@device-width-large + 123)) {
  #wrapper {
    width: calc(~'100% - 250px') !important;
    margin-left: 240px !important;
  }
}

.contents {
  background-color: @navigation-icon-color;
  color: @navigation-color;
  border-right: 2px solid @navigation-color;
  border-bottom: 2px solid @navigation-color;
  z-index: 420;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  .drawer-toolbar {
    position: absolute;
    width: 100%;
    top: 0;
    border-bottom: 1px solid @drawer-border-color;
  }

  .drawer-toolbar .icon {
    color: @drawer-color;
    padding: @navigation-padding;
    .transition-color;
    display: none;

    .no-touch &:hover {
      color: @drawer-icon-color-hover;
    }
  }

  .drawer-inner {
    height: initial;

    .dir-rtl & {
      border-left: inherit;
      border-right: 5px solid @drawer-border-color;
    }
  }

  .drawer-item {
    .drawer-item-title {
      .sub-title;
    }

    .drawer-item-description {
      font-size: @body-text-font-size;
      line-height: @body-text-line-height;
    }

    .drawer-item-open {
      border-bottom: 1px solid @navigation-icon-color;
      color: @navigation-color;
      background-color: transparent;
      text-decoration: none;
      width: 100%;

      .no-touch &:hover {
        background-color: @drawer-item-color-hover;
        color: @drawer-item-text-color-hover;
      }
    }
  }

  .drawer-item-open {
    padding: @drawer-item-padding-top @drawer-item-padding-right @drawer-item-padding-bottom @drawer-item-padding-left;
    .transition-background-color;
    //stops rollover of drawar items on touch devices
    .no-touch &:hover {
      background-color: @drawer-color;
    }
  }
}

.page-level-progress-item-title {
  background-color: @drawer-item-color;
  color: @drawer-item-text-color;
  text-decoration: none;
  padding: @item-padding;
  display: block;

  &.drawer-item-open.disabled {
    box-sizing: border-box;
    background-color: @item-color-disabled;
    color: @item-text-color-disabled;

    .no-touch &:hover {
      background-color: @item-color-disabled;
      color: @item-text-color-disabled;
    }
  }

  .drawer-item-open {
    padding: @drawer-item-padding;
    display: block;
  }

  .no-touch &:hover {
    background-color: @drawer-item-hover-color;
    color: @drawer-item-text-hover-color;

    .page-level-progress-indicator-complete {
      .page-level-progress-indicator-bar {
        background-color: @foreground-color-inverted;
      }
    }
  }
}

.page-level-progress-item-title-inner {
  float: left;

  .dir-rtl & {
    float: right;
  }
  width: 80%;
}

.page-level-progress-item-optional-text {
  line-height: 1em;
  text-align: right;
}

.page-level-progress-indicator {
  width: 16%;
  height: 10px;
  margin-left: 4%;

  .dir-rtl & {
    margin-left: inherit;
    margin-right: 4%;
  }
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  background-color: @item-color-hover;
}

.page-level-progress-indicator-complete {
  .page-level-progress-indicator-bar {
    width: 100%;
    height: 10px;
    background-color: @foreground-color-inverted;

    .no-touch &:hover {
      background-color: @foreground-color-inverted;
    }
  }
}

.page-level-progress-indicator-bar {
  width: 0;
}

button.contents-navigation.base {
  float: left;
  display: inline-block;
  height: (@navigation-padding * 2) + @icon-size;
  border-radius: 0;

  .contents-navigation-icon.icon {
    float: left;
  }

  .contents-navigation-text {
    float: right;
    font-size: 17px;
    line-height: 180%;
    margin: 20px 32px 20px 0;
  }
}

.menu {
  .page-level-progress-menu-item {
    padding: @menu-body-padding;
  }

  .page-level-progress-menu-item-indicator {
    margin: 0 auto;
    width: 100px;
    height: 8px;
    border: @item-border;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  .page-level-progress-menu-item-indicator-bar {
    width: 0;
    height: 8px;
    background-color: @primary-color;
  }
}

.transition-time(@time) {
  -webkit-transition: @time;
  -moz-transition: @time;
  -ms-transition: @time;
  -o-transition: @time;
  transition: @time;
}
