.contents {
  .transition-time(1s);
  width: 280px;
  height: calc(~'100% - 64px');
  top: (@navigation-padding * 2) + @icon-size;
  position: fixed;
}

#wrapper {
  .transition-time(1s);
}

body.contents-hide {
  .contents {
    margin-left: -280px;
    .transition-time(1s);
  }

  #wrapper {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

#wrapper {
  width: calc(~'100% - 280px') !important;
  margin-left: 280px !important;
}
@media all and (max-width:(1130px)) {
  #wrapper {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
// margin around outside when it's tight
@media all and (max-width:(1130px)) and (min-width:(1023px)) {
  #wrapper {
    width: calc(~'100% - 250px') !important;
    margin-left: 240px !important;
  }
}

.contents-page {
  border: 3px solid @drawer-color;
  border-width: 0 0 3px;

  .contents-page-entries {
    display: none;
  }

  &.current-page {
    .contents-page-entries {
      display: block;
    }
  }

  .contents-page-title {
    width: 100%;
    padding: 30px 10px;
    background-color: lighten(@drawer-color, 10%);
    position: relative;

    .contents-page-title-progress {
      float: left;
      position: absolute;
      top: 35px;
    }

    .contents-page-title-inner {
      width: 150px;
      margin: 0 35px;
      text-align: left;
    }
  }

  .contents-page-title-arrow {
    width: 35px;
    position: absolute;
    top: 46px;
    right: 10px;

    .left-arrow,
    .right-arrow {
      background: @white;
      width: 12px;
      height: 2px;
      position: absolute;
    }

    .left-arrow {
      margin-left: 12px;
    }

    .right-arrow {
      margin-left: 20px;
    }

    .left-arrow {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .right-arrow {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.contents-page.active,
.contents-page.current-page {
  .left-arrow {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .right-arrow {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.contents {
  background-color: @drawer-color;
  color: @navigation-color;
  border-right: 2px solid @navigation-color;
  border-bottom: 2px solid @navigation-color;
  z-index: 420;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  .drawer-toolbar {
    position: absolute;
    width: 100%;
    top: 0;
    border-bottom: 1px solid @drawer-border-color;
  }

  .drawer-toolbar .icon {
    color: @drawer-color;
    padding: @navigation-padding;
    .transition-color;
    display: none;

    .no-touch &:hover {
      color: @drawer-icon-color-hover;
    }
  }

  .drawer-inner {
    height: initial;

    .dir-rtl & {
      border-left: inherit;
      border-right: 5px solid @drawer-border-color;
    }
  }

  .drawer-item {
    .drawer-item-title {
      .sub-title;
    }

    .drawer-item-description {
      font-size: @body-text-font-size;
      line-height: @body-text-line-height;
    }

    .contents-item-title {
      border-bottom: 1px solid @navigation-icon-color;
      color: @navigation-color;
      background-color: transparent;
      text-decoration: none;
      width: 100%;

      .no-touch &:hover {
        background-color: @drawer-item-color-hover;
        color: @drawer-item-text-color-hover;
      }
    }
  }

  .contents-item-title {
    padding: @drawer-item-padding-top @drawer-item-padding-right @drawer-item-padding-bottom @drawer-item-padding-left;
    .transition-background-color;
    //stops rollover of drawar items on touch devices
    .no-touch &:hover {
      background-color: @drawer-color;
    }
  }

  .contents-item-title {
    background-color: @drawer-item-color;
    color: @drawer-item-text-color;
    text-decoration: none;
    padding: @item-padding;
    display: block;

    &.highlight {
      background-color: darken(@drawer-item-color, 10%);
    }

    &.contents-article-title {
      font-weight: 600;
      text-align: center;

      &.highlight {
        background-color: darken(@drawer-item-color, 5%);
      }

      .contents-item-title-inner {
        width: 100%;
      }
    }

    &.contents-item-title.disabled {
      box-sizing: border-box;
      background-color: @item-color-disabled;
      color: @item-text-color-disabled;

      .no-touch &:hover {
        background-color: @item-color-disabled;
        color: @item-text-color-disabled;
      }
    }

    .contents-item-title {
      padding: @drawer-item-padding;
      display: block;
    }

    .no-touch &:hover {
      background-color: @drawer-item-hover-color;
      color: @drawer-item-text-hover-color;

      .contents-progress-indicator-complete {
        .contents-indicator-bar {
          background-color: @foreground-color-inverted;
        }
      }
    }
  }

  .contents-item-title-inner {
    float: right;

    .dir-rtl & {
      float: right;
    }
    width: 200px;
  }

  .contents-item-optional-text {
    line-height: 1em;
    text-align: right;
  }

  .contents-progress-indicator {
    width: 10px;
    height: 10px;
    margin-right: 4%;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid white;
    background-color: transparent;

    .dir-rtl & {
      margin-left: inherit;
      margin-right: 4%;
    }
  }

  .contents-progress-indicator-complete {
    background-color: @white;

    .contents-indicator-bar {
      width: 100%;
      height: 10px;
      background-color: @foreground-color-inverted;

      .no-touch &:hover {
        background-color: @foreground-color-inverted;
      }
    }
  }
}

.contents-indicator-bar {
  width: 0;
}

button.contents-navigation.base {
  float: left;
  display: inline-block;
  height: (@navigation-padding * 2) + @icon-size;
  border-radius: 0;

  .contents-navigation-icon.icon {
    float: left;
  }
}

.menu {
  .page-level-progress-menu-item {
    padding: @menu-body-padding;
  }

  .page-level-progress-menu-item-indicator {
    margin: 0 auto;
    width: 100px;
    height: 8px;
    border: @item-border;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  .page-level-progress-menu-item-indicator-bar {
    width: 0;
    height: 8px;
    background-color: @primary-color;
  }
}

.trickle-button-inner {
  left: 280px !important;
  width: calc(~'100% - 280px') !important;
  .transition-time(1s);
}

.contents-hide {
  .trickle-button-inner {
    left: 0 !important;
    width: 100% !important;
    .transition-time(1s);
  }
}

.transition-time(@time) {
  -webkit-transition: @time;
  -moz-transition: @time;
  -ms-transition: @time;
  -o-transition: @time;
  transition: @time;
}
